Repository scalameta/metals, pull requests merged in 2018-04, with the labels that each got.

#215 Diagnostics fixup
  metals/src/main/scala/scala/meta/metals/ScalacErrorReporter.scala
  metals/src/main/scala/scala/meta/metals/ScalametaEnrichments.scala
  metals/src/main/scala/scala/meta/metals/ScalametaServices.scala
  metals/src/main/scala/scala/meta/metals/providers/DiagnosticsProvider.scala
  metals/src/main/scala/scala/meta/metals/providers/SquiggliesProvider.scala
  metals/src/test/scala/tests/compiler/DiagnosticsTest.scala
  vscode-extension/package.json
Labels: defect

#226 Update documentation.
  BETA.md
  README.md
  docs/installation.md
  docs/overview.md
  roadmap.md
  vscode-extension/package.json
Labels: documentation

#230 sbt-metals plugin
  .travis.yml
  bin/release.sh
  build.sbt
  project/Dependencies.scala
  project/MetalsPlugin.scala
  project/build.properties
  project/plugins.sbt
  sbt-metals/src/main/scala/scala/meta/sbt/MetalsPlugin.scala
Labels: sbt

#243 Use bash for the release script, not sh
  bin/release.sh
Labels: bug, build

#257 Add documentation for how to integrate a new build tool
  docs/new-build-tool.md
Labels: documentation

#256 Add documentation for how to integrate a new editor
  README.md
  docs/img/code-actions.gif
  docs/img/code-actions.png
  docs/new-editor.md
Labels: clients, documentation

#254 Update installation and contributing docs
  BETA.md
  CONTRIBUTING.md
  docs/installation.md
  sbt-metals/src/main/scala/scala/meta/sbt/MetalsPlugin.scala
Labels: documentation, installation

#267 Change condition for decrypting env vars for releases
  .travis.yml
Labels: bug, build

#266 Use `appendWithSession` instead of `append`
  sbt-metals/src/main/scala/scala/meta/sbt/MetalsPlugin.scala
Labels: sbt

#270 Update roadmap.md
  roadmap.md
Labels: documentation

#272 Remove unnecessary parts from sbt-metals autoImport
  build.sbt
  docs/installation.md
  sbt-metals/src/main/scala/scala/meta/sbt/MetalsPlugin.scala
  test-workspace/build.sbt
Labels: sbt

#263 Improve sbt server configuration
  metals/src/main/scala/scala/meta/metals/Configuration.scala
  metals/src/main/scala/scala/meta/metals/MetalsServices.scala
  metals/src/main/scala/scala/meta/metals/sbtserver/Sbt.scala
  metals/src/main/scala/scala/meta/metals/sbtserver/SbtServer.scala
  metals/src/test/scala/tests/compiler/DiagnosticsTest.scala
  vscode-extension/package.json
Labels: configuration, sbt server

#278 Smart sbt connection
  docs/new-editor.md
  metals/src/main/scala/scala/meta/metals/MetalsServices.scala
  metals/src/main/scala/scala/meta/metals/Models.scala
  metals/src/main/scala/scala/meta/metals/Semanticdbs.scala
  metals/src/main/scala/scala/meta/metals/Workspace.scala
  metals/src/main/scala/scala/meta/metals/compiler/CompilerConfig.scala
  metals/src/main/scala/scala/meta/metals/sbtserver/SbtServer.scala
  vscode-extension/src/extension.ts
Labels: sbt server

#287 load-plugin integration
  build.sbt
  docs/installation.md
  metals/src/main/scala/scala/meta/metals/MetalsServices.scala
  metals/src/main/scala/scala/meta/metals/sbtserver/SbtServer.scala
Labels: installation, sbt server, spree

#293 LSP logging improvements
  lsp4s/src/main/scala/org/langmeta/lsp/Endpoints.scala
  metals/src/main/resources/logback.groovy
  metals/src/main/scala/scala/meta/metals/LSPLogger.scala
Labels: lsp4s
