Repository scalameta/metals, pull requests merged in 2020-09, with the labels that each got.

#2053 Fix missing classes from _empty_ package in treeView.
  metals/src/main/scala/scala/meta/internal/tvp/ClasspathSymbols.scala
  tests/unit/src/test/scala/tests/TreeViewLspSuite.scala
Labels: bug

#2057 Don't search for runTest code lenses in Ammonite scripts and worksheets.
  metals/src/main/scala/scala/meta/internal/metals/codelenses/RunTestCodeLens.scala
  tests/unit/src/main/scala/tests/BaseAmmoniteSuite.scala
Labels: ammonite, improvement

#1971 Implement organize import using scalafix
  build.sbt
  docs/editors/overview.md
  metals/src/main/scala/scala/meta/internal/metals/Buffers.scala
  metals/src/main/scala/scala/meta/internal/metals/CodeActionProvider.scala
  metals/src/main/scala/scala/meta/internal/metals/Embedded.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.scala
  metals/src/main/scala/scala/meta/internal/metals/ScalafixProvider.scala
  metals/src/main/scala/scala/meta/internal/metals/UserConfiguration.scala
  metals/src/main/scala/scala/meta/internal/metals/codeactions/OrganizeImports.scala
  tests/unit/src/main/scala/tests/TestingServer.scala
  tests/unit/src/test/scala/tests/UserConfigurationSuite.scala
  tests/unit/src/test/scala/tests/codeactions/BaseCodeActionLspSuite.scala
  tests/unit/src/test/scala/tests/codeactions/CreateNewSymbolLspSuite.scala
  tests/unit/src/test/scala/tests/codeactions/OrganizeImportsLspSuite.scala
Labels: feature, scalafix
