Repository scalameta/metals, pull requests merged in 2020-10, with the labels that each got.

#2126 Do not show hover if the type is error
  mtags/src/main/scala-3/scala/meta/internal/pc/ScalaPresentationCompiler.scala
  tests/cross/src/test/scala/tests/hover/HoverErrorSuite.scala
Labels: Scala 3, bug

#2133 Add java sources to standalone worksheets and run compilation before evaluation if necessary.
  metals/src/main/scala/scala/meta/internal/metals/Compilers.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.scala
  metals/src/main/scala/scala/meta/internal/metals/StandaloneSymbolSearch.scala
  metals/src/main/scala/scala/meta/internal/worksheets/WorksheetProvider.scala
  tests/unit/src/main/scala/tests/BaseWorksheetLspSuite.scala
Labels: bug

#2154 Enable smoother sbt bsp integration.
  build.sbt
  docs/build-tools/sbt.md
  docs/contributors/getting-started.md
  metals/src/main/scala/scala/meta/internal/bsp/BspConfigGenerationStatus.scala
  metals/src/main/scala/scala/meta/internal/bsp/BspConfigGenerator.scala
  metals/src/main/scala/scala/meta/internal/bsp/BspConnector.scala
  metals/src/main/scala/scala/meta/internal/bsp/BspResolvedResult.scala
  metals/src/main/scala/scala/meta/internal/bsp/BspServers.scala
  metals/src/main/scala/scala/meta/internal/bsp/BspSession.scala
  metals/src/main/scala/scala/meta/internal/bsp/BuildChange.scala
  metals/src/main/scala/scala/meta/internal/builds/BloopInstall.scala
  metals/src/main/scala/scala/meta/internal/builds/BloopInstallProvider.scala
  metals/src/main/scala/scala/meta/internal/builds/BloopInstallResult.scala
  metals/src/main/scala/scala/meta/internal/builds/BloopPluginBuildTool.scala
  metals/src/main/scala/scala/meta/internal/builds/BuildServerProvider.scala
  metals/src/main/scala/scala/meta/internal/builds/BuildTool.scala
  metals/src/main/scala/scala/meta/internal/builds/BuildToolSelector.scala
  metals/src/main/scala/scala/meta/internal/builds/BuildTools.scala
  metals/src/main/scala/scala/meta/internal/builds/GradleBuildTool.scala
  metals/src/main/scala/scala/meta/internal/builds/MavenBuildTool.scala
  metals/src/main/scala/scala/meta/internal/builds/MillBuildTool.scala
  metals/src/main/scala/scala/meta/internal/builds/SbtBuildTool.scala
  metals/src/main/scala/scala/meta/internal/builds/ShellRunner.scala
  metals/src/main/scala/scala/meta/internal/builds/WorkspaceLoadedStatus.scala
  metals/src/main/scala/scala/meta/internal/builds/WorkspaceReload.scala
  metals/src/main/scala/scala/meta/internal/metals/BloopServers.scala
  metals/src/main/scala/scala/meta/internal/metals/BspConnector.scala
  metals/src/main/scala/scala/meta/internal/metals/BuildServerConnection.scala
  metals/src/main/scala/scala/meta/internal/metals/ChosenBuildServers.scala
  metals/src/main/scala/scala/meta/internal/metals/ChosenBuildTool.scala
  metals/src/main/scala/scala/meta/internal/metals/Doctor.scala
  metals/src/main/scala/scala/meta/internal/metals/Messages.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsBuildClient.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsBuildServer.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.scala
  metals/src/main/scala/scala/meta/internal/metals/PopupChoiceReset.scala
  metals/src/main/scala/scala/meta/internal/metals/ServerCommands.scala
  metals/src/main/scala/scala/meta/internal/metals/ammonite/Ammonite.scala
  metals/src/main/scala/scala/meta/internal/metals/codelenses/RunTestCodeLens.scala
  metals/src/main/scala/scala/meta/internal/process/ProcessHandler.scala
  sbt-metals/src/main/scala/scala/meta/metals/MetalsPlugin.scala
  tests/slow/src/test/scala/tests/sbt/SbtBloopLspSuite.scala
  tests/slow/src/test/scala/tests/sbt/SbtServerSuite.scala
  tests/unit/src/main/scala/bill/Bill.scala
  tests/unit/src/main/scala/tests/TestingClient.scala
  tests/unit/src/test/scala/tests/BillLspSuite.scala
  tests/unit/src/test/scala/tests/ChosenBuildServerSuite.scala
  tests/unit/src/test/scala/tests/SelectBspServerSuite.scala
Labels: improvement, sbt server
