Repository scalameta/metals, pull requests merged in 2023-01, with the labels that each got.

#4720 chore: Deprecate and remove more Scala versions
  project/V.scala
  tests/unit/src/test/scala/tests/troubleshoot/ProblemResolverSuite.scala
Labels: tech debt, merge after release

#4804 fix: correctly sort dependency completions
  mtags/src/main/scala/scala/meta/internal/mtags/CoursierComplete.scala
  tests/cross/src/test/scala/tests/pc/CompletionScalaCliSuite.scala
Labels: bug, completions

#4776 refactor: split `MetalsLanguageServer` into language server and language service
  metals-bench/src/main/scala/bench/ServerInitializeBench.scala
  metals/src/main/scala/scala/meta/internal/metals/BuildTargets.scala
  metals/src/main/scala/scala/meta/internal/metals/ClientConfiguration.scala
  metals/src/main/scala/scala/meta/internal/metals/Compilers.scala
  metals/src/main/scala/scala/meta/internal/metals/Indexer.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsEnrichments.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsHttpServer.scala
  metals/src/main/scala/scala/meta/internal/metals/MetalsLspService.scala
  metals/src/main/scala/scala/meta/internal/metals/StatusBar.scala
  metals/src/main/scala/scala/meta/internal/metals/ammonite/Ammonite.scala
  metals/src/main/scala/scala/meta/internal/metals/scalacli/ScalaCli.scala
  metals/src/main/scala/scala/meta/internal/parsing/DocumentSymbolProvider.scala
  metals/src/main/scala/scala/meta/internal/parsing/FoldingRangeProvider.scala
  metals/src/main/scala/scala/meta/metals/Main.scala
  metals/src/main/scala/scala/meta/metals/MetalsLanguageServer.scala
  metals/src/main/scala/scala/meta/metals/ServerState.scala
  metals/src/main/scala/scala/meta/metals/lsp/DelegatingScalaService.scala
  metals/src/main/scala/scala/meta/metals/lsp/LanguageServer.scala
  metals/src/main/scala/scala/meta/metals/lsp/MetalsService.scala
  metals/src/main/scala/scala/meta/metals/lsp/TextDocumentService.scala
  metals/src/main/scala/scala/meta/metals/lsp/WorkspaceService.scala
  tests/unit/src/main/scala/tests/BaseLspSuite.scala
  tests/unit/src/main/scala/tests/TestingServer.scala
  tests/unit/src/main/scala/tests/TestingWorkspaceSymbolProvider.scala
  tests/unit/src/main/scala/tests/TreeUtils.scala
  tests/unit/src/test/scala/tests/CallHierarchyLspSuite.scala
  tests/unit/src/test/scala/tests/DocumentSymbolSuite.scala
  tests/unit/src/test/scala/tests/FoldingRangeSuite.scala
  tests/unit/src/test/scala/tests/StatusBarSuite.scala
  tests/unit/src/test/scala/tests/UserConfigurationSuite.scala
Labels: tech debt, improvement

#4803 improvement: Allow extracting member when file contains toplevel `val`|`def`|`given` etc.
  metals/src/main/scala/scala/meta/internal/metals/codeactions/ExtractRenameMember.scala
  tests/slow/src/test/scala/tests/feature/Scala3CodeActionLspSuite.scala
Labels: improvement, Scala 3

#4759 feature: inline values
  metals/src/main/scala/scala/meta/internal/metals/Compilers.scala
  metals/src/main/scala/scala/meta/internal/metals/ServerCommands.scala
  metals/src/main/scala/scala/meta/internal/metals/codeactions/CodeActionProvider.scala
  metals/src/main/scala/scala/meta/internal/metals/codeactions/InlineValueCodeAction.scala
  metals/src/main/scala/scala/meta/internal/parsing/Trees.scala
  mtags-interfaces/src/main/java/scala/meta/pc/PresentationCompiler.java
  mtags/src/main/scala-2/scala/meta/internal/pc/PcCollector.scala
  mtags/src/main/scala-2/scala/meta/internal/pc/PcDocumentHighlightProvider.scala
  mtags/src/main/scala-2/scala/meta/internal/pc/PcRenameProvider.scala
  mtags/src/main/scala-2/scala/meta/internal/pc/PcValReferenceProviderImpl.scala
  mtags/src/main/scala-2/scala/meta/internal/pc/ScalaPresentationCompiler.scala
  mtags/src/main/scala-3.1/scala/meta/internal/pc/printer/RefinedDotcPrinter.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/PcCollector.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/PcDocumentHighlightProvider.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/PcRenameProvider.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/PcValReferenceProviderImpl.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/ScalaPresentationCompiler.scala
  mtags/src/main/scala/scala/meta/internal/pc/InlineValueProvider.scala
  mtags/src/main/scala/scala/meta/internal/pc/PcValReferenceProvider.scala
  tests/cross/src/test/scala/tests/pc/InlineValueSuite.scala
  tests/slow/src/test/scala/tests/feature/Scala3CodeActionLspSuite.scala
  tests/unit/src/test/scala/tests/codeactions/InlineValueLspSuite.scala
Labels: code action, new-feature
