Repository scalameta/metals, pull requests merged in 2023-08, with the labels that each got.

#5287 improvement: show args completions for all matching overloaded methods
  mtags/src/main/scala-2/scala/meta/internal/pc/completions/ArgCompletions.scala
  mtags/src/main/scala-2/scala/meta/internal/pc/completions/Completions.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/completions/NamedArgCompletions.scala
  tests/cross/src/test/scala/tests/pc/CompletionArgSuite.scala
Labels: backport-scala3-pc

#5497 improvement: print better bracket suffix in label, Scala 3 completions
  mtags/src/main/scala-3/scala/meta/internal/pc/completions/CompletionSuffix.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/completions/CompletionValue.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/completions/Completions.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/printer/MetalsPrinter.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/printer/ShortenedNames.scala
  tests/cross/src/main/scala/tests/BasePCSuite.scala
  tests/cross/src/test/scala/tests/pc/CompletionSuite.scala
  tests/cross/src/test/scala/tests/pc/CompletionWorkspaceSuite.scala
  tests/cross/src/test/scala/tests/pc/InsertInferredTypeSuite.scala
Labels: Scala 3, presentation-compiler, backport-scala3-pc

#5529 bugfix: highlight enum cases correctly
  mtags/src/main/scala-3/scala/meta/internal/pc/PcCollector.scala
  tests/cross/src/test/scala/tests/highlight/Scala3DocumentHighlightSuite.scala
Labels: Scala 3, presentation-compiler

#5533 bugfix: suggest correct arg name completions for lambda expressions
  mtags/src/main/scala-3/scala/meta/internal/pc/completions/CompletionValue.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/completions/NamedArgCompletions.scala
  tests/cross/src/test/scala/tests/pc/CompletionArgSuite.scala
Labels: Scala 3, presentation-compiler

#5552 fix: Don't collect map, flatMap, withFilter in for-comprehension
  mtags/src/main/scala-2/scala/meta/internal/pc/PcCollector.scala
  mtags/src/main/scala-3/scala/meta/internal/pc/PcCollector.scala
  tests/cross/src/test/scala/tests/highlight/DocumentHighlightSuite.scala
  tests/cross/src/test/scala/tests/pc/PcRenameSuite.scala
Labels: bug, backport-scala3-pc
